# STM32H750B DISCOVERY board configuration

# Copyright (c) 2024 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

if BOARD_STM32H750VBT6
 
config BOARD
	default "stm32h750vbt6"

if NETWORKING

config NET_L2_ETHERNET
	default y

endif # NETWORKING

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

config USE_STM32_HAL_GPIO
	default y

config USE_STM32_HAL_MMC
	default y

config USE_STM32_LL_SDMMC
	default y

config USE_STM32_HAL_SD
	default y

config FLASH_LOG_LEVEL
	default 2

endif # BOARD_STM32H750VBT6
